*{
    margin: 0px;
    padding: 2px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: grab;

}
.list a{
    color: black;
    text-decoration: none;
    list-style: none;
}
.pera{
    color: #30b868;
    background-color: #ffffff;
    border-radius: 99px;
    padding: 5px 14px;
    font-size: 20px;
    display: inline-block;
    font:awesome;

}
.btn{
    color: aliceblue;
    background-color: #30b868;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    
}
/* .img{
    max-width: 1350px;
} */
 .hero{
    position: relative;
    width: 100%;
    height: 100%;
 }
 .hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .hero-text{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-size-adjust: 300px;
 }
 .btn2{
    
    background: transparent;
    color: white;
    padding: 10px 10px;
    border: 15px solid #ffffff;
    border: white;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;


 }